@import "/base16_github.css";


@tailwind base;

@layer base {
    html, body {
        @apply overflow-x-hidden relative;
        @apply mx-2 lg:mx-auto lg:max-w-[70ch];
        @apply text-lg lg:text-base;
    }

    a {
        @apply underline;
        @apply text-blue-600 visited:text-blue-800;
    }

    a.external::after {
        @apply inline-block ml-[2px];
        @apply icon-[mdi--external-link];
        @apply text-center text-sm align-middle;
        content: "";
    }
}


@tailwind components;

@layer components {

    $NotProse: ":not( :where( .not-prose, .not-prose * ) )";

    /*
        Roll out my own prose because the Tailwind Typography
        does way too much things not to my taste.

        Roughly based on UnoCSS typography though.
    */
    .prose {

        /*
            Basic margin
         */

        & *#{$NotProse} {
            @apply my-5 break-words;
        }

        /*
            Various Headings
            h5 and h6 are ignored
        */
        & :where( h1, h2, h3, h4 )#{$NotProse} {
            @apply mt-6;
            @apply text-balance;

            & .header-anchor {
                /* @apply; */
                @apply text-blue-300/50 ms-1;
                @apply hidden;
            }

            &:hover .header-anchor {
                @apply inline;
            }
        }

        & h1#{$NotProse} { @apply text-4xl; }

        & h2#{$NotProse} { @apply text-2xl; }

        & :where( h3,h4 )#{$NotProse} { @apply text-xl; }

        /*
            Blocks
         */

        & pre#{$NotProse} {
            @apply border-blue-100 border overflow-x-auto;
            @apply whitespace-pre hyphens-none;
            @apply p-2;
            tab-size: 4;

            & code { @apply p-0 m-0; }
        }

        & code:not( pre code )#{$NotProse} {
            @apply font-mono;
            @apply bg-blue-200/20;
            @apply ps-1 pe-1;
        }

        & blockquote#{$NotProse} {
            @apply italic;
            @apply border-blue-100 border-[1px] border-l-8;
            @apply ps-2 pe-2 py-1;
            @apply text-gray-500 text-balance;

            & > * { @apply m-0 my-2; }
        }

        & figure#{$NotProse} {
            & img {
                @apply m-0 mx-auto;
            }
            & figcaption {
                @apply m-0 mt-2;
                @apply text-sm text-gray-500 italic text-center;
            }
        }

        /*
            Lists
         */

        & :where( ol,ul )#{$NotProse} {
            @apply list-outside ps-[2em];

            & > li {
                @apply my-1;
                & > * { @apply my-1; }
            }
        }

        & ol#{$NotProse} { @apply list-decimal; }

        & ul#{$NotProse} { @apply list-disc; }

        & :where( li )#{$NotProse}::marker {
            @apply text-gray-500;
        }

        /*
            Multimedia
         */

        & :where( img, svg )#{$NotProse} {
            @apply border-blue-100 border max-w-full h-auto mx-auto;
            @apply text-blue-400/70 italic;
        }

        /*
            Footnote & ToC
         */
        & section.footnotes, section.table-of-content {
            @apply px-3 py-1 my-8;
            @apply bg-blue-200/20 text-balance;
        }

        & section.footnotes li {
            @apply my-3;
        }

        & section.table-of-content li {
            @apply my-1;
        }

        & a[data-footnote-ref] {
            &::before { content: "[" }
            &::after { content: "]" }
        }

    } /* End .prose */

}


@tailwind utilities;
