@import "/base16_github.css";


@tailwind base;

@layer base {
    html, body {
        @apply overflow-x-hidden relative;
        @apply mx-3 lg:mx-auto lg:max-w-[70ch];
        @apply text-lg lg:text-base break-words;
    }

    a {
        @apply underline;
        @apply text-blue-600 visited:text-blue-800;
    }

    a.external::after {
        @apply icon-[mdi--external-link];
        @apply inline-block ml-[2px] text-xs align-middle;
        content: "";
    }

    code.hljs {
        @apply bg-transparent;
    }
}


@tailwind components;

@layer components {

    /*
        Roll out my own prose because the Tailwind Typography
        does way too much things not to my taste.

        Roughly based on UnoCSS typography though.
    */
    .prose {

        $Prose: ":not( :where( .not-prose, .not-prose * ) )";

        @mixin SlimeBorder {
            @apply border border-blue-200/35;
        }

        /*
            Basic margin
         */

        & > * {
            @apply mb-5;
        }

        /*
            Various Headings
            h5 and h6 are ignored
        */
        & :where( h1, h2, h3, h4 )#{$Prose} {
            @apply text-balance;

            & .header-anchor {
                @apply ms-1;
                @apply text-transparent;
            }

            &:hover .header-anchor {
                @apply text-blue-200;
            }
        }

        & h1#{$Prose} {
            @apply text-3xl mt-10;
        }

        & h2#{$Prose} {
            @apply text-2xl mt-6;
        }

        & :where( h3,h4 )#{$Prose} {
            @apply text-xl mt-4;
        }

        /*
            Blocks
         */

        & pre#{$Prose} {
            @include SlimeBorder();
            @apply overflow-x-auto;
            @apply whitespace-pre hyphens-none;
            @apply p-2;
            tab-size: 4;

            & code { @apply p-0 m-0; }
        }

        & code:not( pre code )#{$Prose} {
            @apply font-mono;
            @apply bg-blue-200/20;
            @apply ps-1 pe-1;
        }

        & blockquote#{$Prose} {
            @include SlimeBorder();
            @apply border-l-8;
            @apply ps-3 pe-3 py-1;
            @apply italic text-gray-600 text-balance;

            & > * { @apply my-2; }
        }

        & figure#{$Prose} {
            & img {
                @apply mx-auto;
            }
            & figcaption {
                @apply mt-1;
                @apply text-sm text-gray-500 italic text-center;
            }
        }

        /*
            Lists
         */

        & :where( ol,ul )#{$Prose} {
            @apply list-outside ps-[2em];

            & > li {
                @apply mt-1;
                &::marker { @apply text-gray-500; }
            }
        }

        & ol#{$Prose} { @apply list-decimal; }

        & ul#{$Prose} { @apply list-disc; }

        /*
            Multimedia
         */

        & :where( img, svg )#{$Prose} {
            @include SlimeBorder();
            @apply max-w-full mx-auto;
            @apply italic;
        }

        & mjx-container {
            @apply block;
            & svg { @apply border-none; }
            &:not( [display] ) { @apply inline-block align-middle; }
        }

        /*
            Footnote & ToC
         */
        & section:where( .footnotes, .table-of-content ) {
            @apply p-3 my-6;
            @apply bg-blue-200/20 text-balance;
        }

        & section.footnotes li {
            @apply my-3;

            &:target { @apply font-bold; }
        }

        & section.table-of-content li {
            @apply my-1;
        }

        & a[data-footnote-ref] {
            &::before { content: "[" }
            &::after { content: "]" }
            &:target { @apply font-bold; }
        }

    } /* End .prose */

}


@tailwind utilities;
